<div class="row">
  <div class="col-md-12">
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i> Listar Tipos de Ração</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Tipos de Ração</li>
          <li class="breadcrumb-item">
            <a href="#" class="a_black">listar</a>
          </li>
        </ul>
      </div>

      <div class="tile">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Descrição</th>
              <th>Ativo</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
          <% @food_types.each do |food_type| %>
            <tr>
              <td><%= food_type.description %></td>
              <% if food_type.active %>
                <td style="font-size: 30px;"><i class="fa fa-smile-o"></i></td>
              <% else %>
                <td></td>
              <% end %>
              <td>
                <%= link_to "<button class='btn btn-outline-info'><i class='fa fa-edit'></i><span> Editar</span></button>".html_safe, edit_food_type_path(food_type) %>
                <%= link_to "<button class='btn btn-outline-danger'><i class='fa fa-trash'></i><span> Excluir</span></button>".html_safe, food_type, method: :delete, data: {confirm: 'Are you sure?'} %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>