<div class="row">
  <div class="col-md-12">
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i> Listar Condições Ambientais</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Condições Ambientais</li>
          <li class="breadcrumb-item">
            <a href="#" class="a_black">listar</a>
          </li>
        </ul>
      </div>

      <div class="tile">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Tipo do Alarme</th>
            <th>Ativo?</th>
            <th>Efeito de som?</th>
            <th colspan="3"></th>
          </tr>
          </thead>
          <% @alarms.each do |alarm| %>
            <tr>
              <td><%= alarm.alarm_type %></td>
              <td>
                <% if alarm.active? %>
                  Sim
                <% else %>
                  Não
                <% end %>
              </td>
              <td>
                <% if alarm.sound_effect? %>
                  Sim
                <% else %>
                  Não
                <% end %>
              </td>
              <td>
                <%= link_to "<i class='fa fa-edit'></i><span> Editar</span>".html_safe, edit_alarm_path(alarm), class: "btn btn-outline-primary" %>
              </td>
            </tr>
          <% end %>
          <tbody>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>