/*
 *= require_self
 */

a {
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
}

.a_black {
  color: #000000 !important;
}

body {
  overflow-x: hidden;
}

.btn-outline-primary {
  i {
    color: rgb(0, 150, 136) !important;
  }

  span {
    color: rgb(0, 150, 136) !important;
  }

  &:hover i {
    color: #FFFFFF !important;
  }

  &:hover span {
    color: #FFFFFF !important;
  }
}

.btn-outline-danger {
  i {
    color: #dc3545 !important;
  }

  span {
    color: #dc3545 !important;
  }

  &:hover i {
    color: #FFFFFF !important;
  }

  &:hover span {
    color: #FFFFFF !important;
  }
}
