/*
 *= require_self
 */

a {
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
}

.a_black {
  color: #000000 !important;
}

body {
  overflow-x: hidden;
}

// configuring the outiline a tag
.btn-outline-primary {
  i {
    color: rgb(0, 150, 136) !important;
  }

  span {
    color: rgb(0, 150, 136) !important;
  }

  &:hover i {
    color: #FFFFFF !important;
  }

  &:hover span {
    color: #FFFFFF !important;
  }
}

.btn-outline-danger {
  i {
    color: #dc3545 !important;
  }

  span {
    color: #dc3545 !important;
  }

  &:hover i {
    color: #FFFFFF !important;
  }

  &:hover span {
    color: #FFFFFF !important;
  }
}

// notification

.notification {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
.notification:hover{
  cursor: pointer;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}